<div class="container">
<h1>わたしのオススメ</h1>
</div>

<%= render 'form' %>



	<div class="form-group">
		 <label>URL</label>
	  		<%= f.text_area :where, class: "form-control" %>
	</div>

	<div class="form-gruop">
	  		<%= f.submit '保存', class: "btn btn-primary" %>
	</div>
<% end %>
