/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
  */

  *= require bootstrap-tagsinput



  *= require devise-bootstrap-views


 body{
 	font-family: 'Lucida Console';
 }

 .logo{
 	font-family: 'Bookman Old Style';
 }

.navbar-top{
	height:60px;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.3);
}

.navbar-bottom{
	height:150px;
	margin-top: 70px;
	margin-bottom: 0; 
	box-shadow: 0 10px 0 2px rgba(0,0,0,0.3);
}

h1{
	position: absolute;
	left:50%;
	margin-top: 10px;
}

#navbarExmple1 li{
	padding: 15px;
}

#navbarExmple1 a{
	padding: 0;
	transition: .2s;
}

a{
	transition: .2s;
}

a:hover {
	text-decoration: none;
	transform: rotate(10deg);
}

div.col-md-3{
	background-color: gray;
}

.list-group{
    border : 3px solid #84b2e0;
}