/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
  */

  *= require bootstrap-tagsinput
  *= require devise-bootstrap-views

html body{
 	font-family: 'Lucida Console';
 	height: 100%;
 }

div.main-container{
	position: relative;
	width: 100%;
	min-height: 100%;
    height: auto !important; 
	height: 100%;
}

.logo{
 	font-family: 'Bookman Old Style';
 }

.navbar-top{
	height:60px;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.3);
}

.navbar-bottom{
	height:150px;
	margin-top: 70px;
	margin-bottom: 0; 
	box-shadow: 0 10px 0 2px rgba(0,0,0,0.3);
}

h1{
	position: absolute;
	left:50%;
	margin-top: 10px;
}

#navbarExmple1 li{
	padding: 15px;
}

#navbarExmple1 a{
	padding: 0;
	transition: .2s;
}

a{
	transition: .2s;
}

a:hover {
	text-decoration: none;
	transform: rotate(10deg);
}

div.col-md-3{
	background-color: gray;
}


.list-group{
    border : 3px solid #84b2e0;
}

div.main-padding{
	padding-bottom: 300px;
}

div.watermark2{
	width: 100%;
	height: 200px;
	background-image:url('watermark2.jpg');
	display: block;
	position: absolute;
	bottom: 100px;
}

footer{
	width: 100%;
	height: 100px;
	margin: 0;
	padding:0;
	box-sizing: border-box;
	background-color: #DDDDDD;
	display: block;
	position: absolute;
	bottom: 0;
	text-align: center;
	line-height: 100px;
}


/*@media ( max-width : 480px ) {
	width: 100%
}
*/








